@import "./css/main.css";
@import "./css/animation.css";

html {
  background: white;
}
.container {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotoValean {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  border: 10px solid rgb(243, 165, 5, 1.5);
  background: url('../media/home/val.jpg') center/135% auto;
  position: absolute;
}






