.rollInRight {
    animation-name: rollInRight;
    animation-duration: 2.6s;
    backface-visibility: hidden;
}

@keyframes rollInRight {
    0% {
        animation-timing-function: ease-in-out;
        transform: translateX(500px) rotate(-445deg);
        opacity: 0
    }

    30% {
        opacity: 1
    }

    50% {
        transform: translateX(0px)
    }

    100% {
        animation-timing-function: ease-in-out;
        transform: translateX(0)
    }
}