.rollInRight {
  -webkit-animation-name: rollInRight;
  animation-name: rollInRight;
  -webkit-animation-duration: 2.6s;
  animation-duration: 2.6s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

@-webkit-keyframes rollInRight {
  0% {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform: translateX(500px) rotate(-445deg);
    transform: translateX(500px) rotate(-445deg);
    opacity: 0; }
  30% {
    opacity: 1; }
  50% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes rollInRight {
  0% {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform: translateX(500px) rotate(-445deg);
    transform: translateX(500px) rotate(-445deg);
    opacity: 0; }
  30% {
    opacity: 1; }
  50% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
